@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-a4f5f9a54b81c573f35af67f6e8e3fe3.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-2b51c52f468aadd5dcc9eb8b024b1451.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-86bf03044be2bfb35d9950780e194191.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-baccf5a3938ead333c1ec32daa1eb20a.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-413ffb159e2062936c9d4d48fe3a879b.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-aa62c81ea0dc7f40e3f1a20a5a72a562.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-0296aaef3948202ee9e315bce93bdc37.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-a4f5f9a54b81c573f35af67f6e8e3fe3.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-2b51c52f468aadd5dcc9eb8b024b1451.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-86bf03044be2bfb35d9950780e194191.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-baccf5a3938ead333c1ec32daa1eb20a.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-413ffb159e2062936c9d4d48fe3a879b.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-aa62c81ea0dc7f40e3f1a20a5a72a562.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-0296aaef3948202ee9e315bce93bdc37.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-a4f5f9a54b81c573f35af67f6e8e3fe3.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-2b51c52f468aadd5dcc9eb8b024b1451.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-86bf03044be2bfb35d9950780e194191.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-baccf5a3938ead333c1ec32daa1eb20a.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-413ffb159e2062936c9d4d48fe3a879b.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-aa62c81ea0dc7f40e3f1a20a5a72a562.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-0296aaef3948202ee9e315bce93bdc37.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-a4f5f9a54b81c573f35af67f6e8e3fe3.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-2b51c52f468aadd5dcc9eb8b024b1451.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-86bf03044be2bfb35d9950780e194191.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-baccf5a3938ead333c1ec32daa1eb20a.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-413ffb159e2062936c9d4d48fe3a879b.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-aa62c81ea0dc7f40e3f1a20a5a72a562.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../../assets/fonts/Roboto%20Condensed-0296aaef3948202ee9e315bce93bdc37.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}