body {
  background: #0c0d14;
  font-family: Roboto, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: #dc143c;
}

a:hover {
  color: #920b26;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.row > * {
  padding-left: 5px;
  padding-right: 5px;
}

.h1, h1 {
  font-size: 1.6rem;
}

.h2, h2 {
  font-size: 1.4rem;
}

.h3, h3 {
  font-size: 1.2rem;
}

.h4, h4 {
  font-size: 1.19rem;
}

.h5, h5 {
  font-size: 1.15rem;
}

.h6, h6 {
  font-size: 1.1rem;
}

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  background: #212529;
}

.header {
  height: 60px;
  padding: 4px 0;
  align-items: center;
  display: flex;
  width: 100%;
}

.logo > img {
  max-width: 240px;
}

@media (max-width: 991px) {
  .logo > img {
    max-width: 215px;
  }
}

.search__button {
  padding: 4px 10px;
  position: relative;
  background-color: transparent;
}

.search__button:hover {
  color: initial;
}

@media (min-width: 576px) {
  .header-cont {
    padding-right: 20px;
  }
}

@media (min-width: 75em) {
  .search {
    margin-left: 3rem;
  }
}

.search {
  text-align: right;
  z-index: 9999;
}

.search__overlay {
  width: 222px;
  height: 34px;
  background: white;
  box-shadow: 0 9px 43px 0 rgba(0,0,0,.25);
  border-radius: 3px;
  left: 40%;
  transition: none;
  opacity: 1;
  display: flex;
  align-items: center;
}

[type=email]:focus, [type=number]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=url]:focus, select:focus, textarea:focus {
  border-color: rgba(40,49,73,.2);
  outline: 0;
}

.search__input {
  background: 0 0;
  border: none;
  padding: 5px;
  width: 100%;
  color: #101010;
}

.sidebar.collapse {
  width: 200px;
}

.sidebar {
  position: absolute;
  display: flex;
  left: 0;
  width: 50px;
  top: 60px;
  overflow-x: hidden;
  height: calc(100vh - 45px);
  background-color: #212529;
  transition: visibility 0s, all .15s ease-in-out;
  z-index: 10001;
}

.sidebar:hover::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  background: rgba(0,0,0,0);
}

.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-right: none;
  border-left: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
}

.sidebar:hover {
  width: 200px;
  overflow-y: scroll;
}

@media (max-width: 575px) {
  .sidebar {
    height: 100vh;
    top: 120px;
  }
}

.sidebar .navbar__menu {
  margin-left: 0;
  padding-left: 0;
}

.sidebar .navbar__menu li {
  list-style-type: none;
  align-items: center;
  display: flex;
  width: 200px;
  cursor: pointer;
}

.sidebar .navbar__menu li a {
  color: #f8f9fa;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 15px;
}

.sidebar .navbar__menu li a .icon {
  width: 20px;
  height: 40px;
  margin: 0 15px;
  color: #a9a9a9;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.sidebar li:hover, .sidebar li.active {
  color: #ccc;
  background-color: #495057;
  transition: visibility 0s,opacity .3s,all .2s ease-in-out;
}

.sidebar li:hover svg.icon, .sidebar li.active svg.icon {
  color: white;
}

main {
  margin-left: 50px;
  margin-top: 90px;
  padding-bottom: 25px;
}

.wrapper {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 30px;
}

@media (max-width: 575px) {
  main {
    margin-top: 145px;
  }
}

@media (max-width: 575px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .logo-box {
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-custom {
    flex: 0 0 auto;
    width: 12.5%;
  }
}

@media (max-width: 575px) {
  .search__overlay {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 65px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 575px) {
  .header {
    height: 120px;
    max-height: 120px;
    align-items: flex-start;
  }
}

.game-item {
  border-radius: 10px;
  margin-bottom: 20px;
}

.game-item a {
  position: relative;
  position: relative;
  display: block;
  border-radius: 10px;
  transition: transform .3s linear;
}

.game-item a:hover {
  transform: scale(1.01869) translate(0, -4px);
}

.game-item a:hover .game-title {
  opacity: 1;
  background: rgba(0, 0, 0, .5607843137);
}

.game-img {
  display: block;
  margin: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  height: 0;
  border-radius: 10px;
}

.game-img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  display: block;
  transition: all .25s ease-out;
  width: 100%;
  position: absolute;
}

.game-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  margin: 0;
  color: #f8f9fa;
  transition: opacity .3s cubic-bezier(.4,0,1,1);
  text-align: center;
  z-index: 6;
  opacity: 0;
  font-weight: 700;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  font-size: 16px;
}

.cate-title h2 {
  font-variant: petite-caps;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #dc143c;
  text-align: center;
}

.cate-title > a {
  color: #fff3cd;
  font-size: .9rem;
  line-height: 28px;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #dc143c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.back-to-top:hover {
  color: white;
}

footer {
  padding: 1.5rem 0;
  margin-left: 50px;
  background: #212529;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer ul.categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul.categories li:not(:last-child):after {
  content: "|";
  margin-right: 5px;
  margin-left: 5px;
  color: #f8f9fa;
}

.categories a {
  color: #f8f9fa;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-menu li:before {
  content: ">";
  color: #f8f9fa;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-menu li a {
  color: #f8f9fa;
  text-decoration: none;
}

/* category */

.page-header h1 {
  font-variant: petite-caps;
  font-weight: 700;
  letter-spacing: 1px;
  color: #dc143c;
  text-align: center;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '»';
  color: white;
}

/* detail */

.game-player {
  background-color: #212233;
  color: white;
  border-radius: 10px;
}

.game-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 1400px) {
  .game-iframe-container {
    padding-top: 46% !important;
  }
}

.game-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.game-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 10px 10px 0 0;
}

@media (min-width: 1400px) {
  .game-iframe {
    max-height: 620px;
  }
}

.single-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left img {
  border-radius: 10px;
}

h1.single-title {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.action-btn {
  display: flex;
  gap: 20px;
}

.action-btn > div {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 500px) {
  .action-btn {
    justify-content: end;
  }
}

@media (max-width: 500px) {
  .single-info-container {
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 10px;
  }
}

.svg-icon {
  position: relative;
  cursor: pointer;
  margin: 0 3px;
  border: unset;
  background: inherit;
  color: inherit;
  padding: 2px;
  flex-wrap: nowrap;
  display: flex;
}

.svg-icon:hover {
  background: transparent;
  color: #53f;
}

.svg-icon svg {
  width: 20px;
  height: 20px;
}

button[title]:hover::after {
  content: attr(title);
  font-size: 14px;
  padding: 4px 8px;
  color: #f0eaea;
  position: absolute;
  left: 0;
  top: -30px;
  white-space: nowrap;
  z-index: 20;
  border-radius: 5px;
  background: rgba(92, 92, 92, .6901960784);
}

:not(.btn-check) + .svg-icon:active {
  background: transparent;
  border: none;
  color: #53f;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .right-col-detail .col-custom-right {
    width: 12.5%;
  }
}

ul.post-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul.post-tags a {
  display: block;
  text-decoration: none;
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #fffaf0;
  margin: 5px 5px;
  color: #000;
  transition: all 250ms ease;
}

ul.post-tags a:first-child {
  margin-left: 0;
}

ul.post-tags a:hover {
  color: #3f51b5;
  background-color: transparent;
}

/* contact */

.card {
  max-width: 450px;
  width: 100%;
  margin: 0 auto 50px;
  border-radius: 24px;
  color: white;
  background: transparent;
  display: block;
}

.card span {
  float: left;
  text-align: left !important;
  margin-bottom: 5px;
}

form input[type=text], form input[type=email], form select, form textarea {
  border: 1px solid #333 !important;
  font-family: Montserrat;
  font-size: 16px;
  height: 30px;
  font-weight: 700;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 0;
}

.card textarea {
  height: 130px;
  width: 100%;
  border-radius: 0;
}

.btn.base-button {
  height: 40px;
  background-color: #dc143c;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 0;
  border: none;
  padding: 22px 50px;
  border-top: 0;
  border-bottom: 0;
  text-transform: uppercase;
}

.btn.base-button:hover {
  background: #920b26;
}

